html, body {
  margin: 0;
  height: 100%;
}

img {
  user-select: none;
}

.header {
  height: 45px;
  position: absolute;
  width: 100%;
  background: #080A0E;
}

.logo {
  width: 40px;
  height: 40px;
  display: inline-block;
}

.logo:hover {
  background: gray; 
}

.spacing {
  width: 2px;
  height: 26px;
  background: white;
  float: left;
  position: absolute;
  margin-top: 10px;
  margin-left: 3px;
}

.btn {
  color: white;
  background: none;
  border: 0;
  font-size: 15px;
  margin: 15px;
  position: absolute;
}

.btn:hover { 
  background: gray;
}

.winbox {
  background: #0d1117;
  border-radius: 12px 12px 0 0;
  box-shadow: none;
}

.winbox.min {
  border-radius: 0;
}

.wb-body {
  /* the width of window border: */
  margin: 4px;
  color: #fff;
  background: #131820;
}

.wb-title {
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
}

.family {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

.tutorial{
  display: flex;
  flex-flow: wrap;
  margin: 10px;
  justify-content: center;
}

.texto{
  display: flex;
  text-align: center;
  font-family: Arial,sans-serif;
  margin: 5px;
}