html, body {
  margin: 0;
  height: 100%;
}

img {
  user-select: none;
}

.header {
  height: 45px;
  position: absolute;
  width: 100%;
  background: #080A0E;
}

.logo {
  width: 40px;
  height: 40px;
  display: inline-block;
}

.logo:hover {
  background: gray; 
}

.spacing {
  width: 2px;
  height: 26px;
  background: white;
  float: left;
  position: absolute;
  margin-top: 10px;
  margin-left: 3px;
}

.boton{
  color: white;
  background: none;
  border: 0;
  display: block ;
  font-size: 60px;
  padding: 10px;

}

.boton:hover { 
  background: gray;
  border-radius: 40%;
}

.btn {
  color: white;
  background: none;
  border: 0;
  font-size: 15px;
  margin: 15px;
  position: absolute;
}

.btn:hover { 
  background: gray;
}

.winbox {
  background: #0d1117;
  border-radius: 12px 12px 0 0;
  box-shadow: none;
}

.winbox.min {
  border-radius: 0;
}

.wb-body {
  /* the width of window border: */
  margin: 4px;
  color: #fff;
  background: #131820;
}

.wb-title {
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
}


.family {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

.tutorial {
  display: flex;
  margin: 20px;
}

.texto {
  font-family: Arial,sans-serif;
  margin: 40px 0px;
}

.eventos {
  margin: 30px;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

.titulo {
  margin: 50px;
  display: block;
  text-align: center;
}

*,*:after, *:before{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#contenedor_carga{
  background-color: rgba(250, 240, 245, 10);
  height: 100%;
  width: 100%;
  position: fixed;
  -webkit-transition: all 8s ease;
  -o-transition: all 8s ease;
  transition: all 8s ease;
  z-index: 10000;

}

#carga{
  border: 15px solid #ccc;
  border-top-color: #f4266a;
  border-top-style: groove;
  height: 100px;
  width: 100px;
  border-radius: 100%;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;

  -webkit-animation: girar 1.5s linear infinite;
  -o-animation: girar 1.5s linear infinite;
  animation: girar 1.5s linear infinite;

}

 @keyframes girar{
  from{transform: rotate(0deg);}
  to{transform: rotate(360deg);}
}