html, body {
  margin: 0;
  height: 100%;
}

img {
  user-select: none;
}

.header {
  height: 45px;
  position: absolute;
  width: 100%;
  background: -webkit-linear-gradient(top, #000000 0%,#070515 100%);
  box-shadow: 0px 2px 0px #251d6c;
  display: inline-flex;
  align-items: center;
}

.logo {
  width: 40px;
  height: 40px;
}

.spacing {
  width: 3px;
  height: 26px;
  /* background: #424d63; */
  background: #121420;
  margin-left: 3px;
  display: inline-flex;
}

.horizontal {
  width: -webkit-fill-available;
  height: 3px;
  margin: 0px 40px;
  order: 1;
}

.boton{
  color: white;
  background: none;
  border: 0;
  display: block ;
  padding: 10px;
  border: 1px solid #04050f;
  outline: none;
}

.boton:hover { 
  border-radius: 50%;
  border-color: #192047;
  transform: scale(1.1);
  cursor: pointer;
}

.boton[name="mute"] > * {
  filter: invert(.9);
}

.btn, .log {
  color: white;
  background: none;
  border: 0;
  font-size: 15px;
  margin: 0 12px;
  padding: 4px;
  border-radius: 4px;
}

.btn:hover , .log:hover{ 
  background: linear-gradient(0deg, #1a48ac, #361049);
  cursor: pointer;
}

.winbox {
  background: #0d1117;
  border-radius: 12px 12px 0 0;
  box-shadow: none;
  filter: drop-shadow(black 2px 4px 6px);
}

.winbox.min {
  border-radius: 12px 12px 0 0;
}
.winbox.min:first-child:hover {
  cursor: pointer;
}

.wb-body {
  margin: 4px;
  color: #fff;
  background: #131820;
}

.wb-title {
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
}
.wb-icon {
  display: flex;
}

.wb-close {
  order: 0;
}

.wb-min {
  order: 1;
}

.wb-max {
  order: 2;
}

.winbox.terminal {
  background: #070515;
  border-radius: 12px 12px 0 0;
  animation: popup .3s cubic-bezier(.3,1,.3,1) backwards;
  font-family: 'Courier New', Courier, monospace;
}

.winbox.winbox.terminal > .wb-body {
  background: #04050f;
}

.winbox.winbox.houseModal > .wb-body {
  display: flex;
  flex-flow: column;
}

.winbox.winbox.terminal > .wb-header > .wb-title {
  text-transform: initial;
}

.winbox.winbox.terminal > .wb-header > .wb-icon{
  float: left;
}

.winbox.winbox.terminal > .wb-header > .wb-icon *{
  width: 26px;
  height: 70%;
  align-self: center;
  background-size: 12px auto;
}

.winbox.winbox.terminal > .wb-header{
  background: -webkit-linear-gradient(top, #11121e 0%,#070515 100%);
  border-radius: 12px 12px 0 0;
  box-shadow: 0px 2px 0px #1f1b38 inset;
}

.winbox.winbox.terminal > .wb-body > p {
  margin: 0;
}

a.tcolor1 {
  color: #d144b6;
  font-weight: bold;
}

a.pwd {
  color: #4295f6;
}

a.cmd:after {
  content: "█";
  display: inline-flex;
  outline: 1px solid #04050f;
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}


@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

.winbox.hidden {
  visibility: hidden;
}

.family {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  order: 0;
}

.tutorial {
  display: flex;
  margin: 20px;
  text-align: center;
}

.tutorial-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 0px 18px;
  width: 200px;
  background: #0d1117;
  background-position-y: -46px;
  border-radius: 14px;
  border: 1px solid #1d232c;
}

.texto {
  font-family: Arial,sans-serif;
  padding: 0 8px 8px 8px;
}

.modal { 
  text-align: center;
  margin: 20px 20px;
}

.eventos {
  margin: 30px;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  order: 3;
}

.move-select {
  display: flex;
  order: 2;
  align-self: center;
}

.goto {
  background: -webkit-linear-gradient(bottom, #0b0c13 0%,#1f1b38 100%);  align-self: center;
  padding: 7px;
  border-radius: 0 0 0 4px;
  border-right: 2px solid #04050f;
  font-family: Arial;
  font-size: 13px;
  font-weight: 600;
  user-select: none;
}

select.selector {
  display: flex;
  order: 0;
  background: -webkit-linear-gradient(bottom, #0b0c13 0%,#1f1b38 100%);  color: white;
  border: none;
  outline: none;
  height: 29px;
  width: 10vw;
  align-self: center;
  text-align-last: center;
  font-weight: 600;
  cursor: pointer;
}

select.selector:focus {
  background: -webkit-linear-gradient(bottom, #0b0c13 0%,#09061b 100%);
}

.selector > option {
  background: #04050f;
}

.btn2:focus {
  background: -webkit-linear-gradient(bottom, #0b0c13 0%,#09061b 100%);
}

.btn2 {
  background: -webkit-linear-gradient(bottom, #0b0c13 0%,#1f1b38 100%);  color: white;
  border-radius: 0 0 4px 0;
  border-top: none;
  border-bottom: none;
  border-right: none;
  outline: none;
  padding-left: 10px;
  cursor: pointer;
  border-color: #04050f;
}

.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

/* .wb-body * > img {
  filter: drop-shadow(0px 0px 9px rgb(18, 29, 112));
} */

.titulo {
  margin: 50px;
  display: block;
  text-align: center;
}

#contenedor_carga{
  background-color: rgba(250, 240, 245, 10);
  height: 100%;
  width: 100%;
  position: fixed;
  -webkit-transition: all 8s ease;
  -o-transition: all 8s ease;
  transition: all 8s ease;
  z-index: 10000;

}

#carga{
  border: 15px solid #ccc;
  border-top-color: #f4266a;
  border-top-style: groove;
  height: 100px;
  width: 100px;
  border-radius: 100%;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;

  -webkit-animation: girar 1.5s linear infinite;
  -o-animation: girar 1.5s linear infinite;
  animation: girar 1.5s linear infinite;

}

 @keyframes girar{
  from{transform: rotate(0deg);}
  to{transform: rotate(360deg);}
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #121420;
  border-radius: 4px;
  margin: 6px 0 2px 0;
}

::-webkit-scrollbar-thumb {
  background: #16183a;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #251d6c;
}

#loading-screen {
	position: absolute;
	z-index: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000000;
	opacity: 1;
 	transition: 1s opacity;
}

#loading-screen.fade-out {
    opacity: 0;
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #9370DB;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #BA55D3;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #FF00FF;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}